.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 890px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 620px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
