
.colourPickerContainer {
    position: relative;
    display: flex;
}

.colourPicker {
    margin: 1em;
    display: block;
}

.colourPicker.showPicker {
    display: block;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.createButton {
    background: #2b2b2b;
    color: white;
}
