.paletteContainer {
  margin: 1em;
  position: relative;
  display: inline-flex;

  justify-content: center;
  width: 100%;
}

.palette {
  width: 15em;
  border: 3px solid #2b2b2b;
  border-radius: 1.2em;
}

.palette .sliver:first-child {
  border-radius: 1em 1em 0 0;
}

.palette .sliver:last-child {
  border-radius: 0 0 1em 1em;
}

.sliverContainer {
  position: relative;
}

.sliver {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-weight: 600;
}

.sliver input {
  background: #2b2b2b;
  color: white;
  padding: 0.25em;
  width: 5em;
}

.sliver input:focus {
  outline: 4px solid #2b2b2b;
  background: white;
  color: #2b2b2b;
}

.sliver input,
.sliver .icon {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

/* .sliver:hover span,
    .sliver:hover .paletteIcon {
      opacity: 1;
      transition: opacity 150ms ease-in-out;
    } */

.icon {
  width: 2em;
  height: 2em;
  background: #2b2b2b;
  padding: 0.5em;
  border-radius: 4em;
}

.icon.active {
  outline: 4px solid #2b2b2b;
  background: white;
}

.icon.active svg {
  fill: #2b2b2b;
  stroke: #2b2b2b;
}

.icon:first-child {
  margin-right: 0.5em;
}

.icon:hover svg {
  transform: scale(1.1);
  transition: transform 150ms ease-in-out;
}

.icon svg {
  width: 100%;
  height: 100%;

  fill: white;
  stroke: white;
}

.icon:focus {
  outline: 4px solid #2b2b2b;
  background: white;
}

.icon:focus svg {
  fill: #2b2b2b;
  stroke: #2b2b2b;
}

.colourPickerContainer {
  position: relative;
  display: flex;
}

.colourPicker {
  margin: 1em;
  display: block;
}

.colourPicker.showPicker {
  display: block;
}

.options {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.createButton {
  background: #2b2b2b;
  color: white;
}